[submodule "ethereal"]
	path = ethereal
	url = https://notabug.org/TenPlus1/ethereal.git
[submodule "moretrees"]
	path = moretrees
	url = https://github.com/mt-mods/moretrees.git
[submodule "ebiomes"]
	path = ebiomes
	url = https://github.com/CowboyLva/ebiomes.git
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "3d_armor_flyswim"]
	path = 3d_armor_flyswim
	url = https://github.com/sirrobzeroone/3d_armor_flyswim.git
[submodule "anvils"]
	path = anvils
	url = https://notabug.org/TenPlus1/anvils.git
[submodule "ambience"]
	path = ambience
	url = https://notabug.org/TenPlus1/ambience.git
[submodule "bakedclay"]
	path = bakedclay
	url = https://notabug.org/TenPlus1/bakedclay.git
[submodule "beds"]
	path = beds
	url = https://notabug.org/TenPlus1/beds.git
[submodule "bees"]
	path = bees
	url = https://notabug.org/TenPlus1/bees.git
[submodule "boats"]
	path = boats
	url = https://notabug.org/TenPlus1/boats.git
[submodule "bonemeal"]
	path = bonemeal
	url = https://notabug.org/TenPlus1/bonemeal.git
[submodule "builtin_item"]
	path = builtin_item
	url = https://notabug.org/TenPlus1/builtin_item.git
[submodule "carts"]
	path = carts
	url = https://notabug.org/TenPlus1/carts.git
[submodule "castle"]
	path = castle
	url = https://notabug.org/TenPlus1/castle.git
[submodule "caverealms_lite"]
	path = caverealms_lite
	url = https://notabug.org/TenPlus1/caverealms_lite.git
[submodule "cblocks"]
	path = cblocks
	url = https://notabug.org/TenPlus1/cblocks.git
[submodule "creative"]
	path = creative
	url = https://notabug.org/TenPlus1/creative.git
[submodule "falling_item"]
	path = falling_item
	url = https://notabug.org/TenPlus1/falling_item.git
[submodule "farming"]
	path = farming
	url = https://notabug.org/TenPlus1/farming.git
[submodule "fire"]
	path = fire
	url = https://notabug.org/TenPlus1/fire.git
[submodule "hopper"]
	path = hopper
	url = https://notabug.org/TenPlus1/hopper.git
[submodule "invisibility"]
	path = invisibility
	url = https://notabug.org/TenPlus1/invisibility.git
[submodule "lapis"]
	path = lapis
	url = https://notabug.org/TenPlus1/lapis.git
[submodule "lucky_block"]
	path = lucky_block
	url = https://notabug.org/TenPlus1/lucky_block.git
[submodule "mob_horse"]
	path = mob_horse
	url = https://notabug.org/TenPlus1/mob_horse.git
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://notabug.org/TenPlus1/mobs_animal.git
[submodule "mobs_monster"]
	path = mobs_monster
	url = https://notabug.org/TenPlus1/mobs_monster.git
[submodule "mobs_npc"]
	path = mobs_npc
	url = https://notabug.org/TenPlus1/mobs_npc.git
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "mobs_sky"]
	path = mobs_sky
	url = https://notabug.org/TenPlus1/mobs_sky.git
[submodule "mobs_water"]
	path = mobs_water
	url = https://notabug.org/TenPlus1/mobs_water.git
[submodule "money"]
	path = money
	url = https://notabug.org/TenPlus1/money.git
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores.git
[submodule "nssb"]
	path = nssb
	url = https://notabug.org/TenPlus1/nssb.git
[submodule "nssm"]
	path = nssm
	url = https://notabug.org/TenPlus1/nssm.git
[submodule "pie"]
	path = pie
	url = https://notabug.org/TenPlus1/pie.git
[submodule "pigiron"]
	path = pigiron
	url = https://notabug.org/TenPlus1/pigiron.git
[submodule "playerplus"]
	path = playerplus
	url = https://notabug.org/TenPlus1/playerplus.git
[submodule "protector"]
	path = protector
	url = https://notabug.org/TenPlus1/protector.git
[submodule "regrow"]
	path = regrow
	url = https://notabug.org/TenPlus1/regrow.git
[submodule "stairs"]
	path = stairs
	url = https://notabug.org/tenplus1/stairs
[submodule "stamina"]
	path = stamina
	url = https://notabug.org/TenPlus1/stamina.git
[submodule "teleport_potion"]
	path = teleport_potion
	url = https://notabug.org/TenPlus1/teleport_potion.git
[submodule "tnt"]
	path = tnt
	url = https://notabug.org/TenPlus1/tnt.git
[submodule "wool"]
	path = wool
	url = https://notabug.org/TenPlus1/wool.git
[submodule "plantlife_modpack"]
	path = plantlife_modpack
	url = https://github.com/mt-mods/plantlife_modpack.git
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack.git
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "adaptation_modpack"]
	path = adaptation_modpack
	url = https://github.com/sfence/adaptation_modpack.git
[submodule "algae"]
	path = algae
	url = https://github.com/ExeVirus/algae.git
[submodule "animalia"]
	path = animalia
	url = https://github.com/ElCeejo/animalia.git
[submodule "animalworld"]
	path = animalworld
	url = https://github.com/Skandarella/animalworld.git
[submodule "appliances"]
	path = appliances
	url = https://github.com/sfence/appliances.git
[submodule "armor_expanded"]
	path = armor_expanded
	url = https://github.com/Crystalwarrior/armor_expanded.git
[submodule "auroras"]
	path = auroras
	url = https://github.com/random-geek/auroras.git
[submodule "awards"]
	path = awards
	url = https://gitlab.com/rubenwardy/awards.git
[submodule "Awesome_Monsters"]
	path = Awesome_Monsters
	url = https://github.com/Tim79000/Awesome_Monsters.git
[submodule "bouncy_bed"]
	path = bouncy_bed
	url = https://github.com/MeseCraft/bouncy_bed
[submodule "basket"]
	path = basket
	url = https://github.com/C-C-Minetest-Server/basket.git
[submodule "bbq"]
	path = bbq
	url = https://github.com/Grizzly-Adam/BBQ.git
[submodule "beautiflowers"]
	path = beautiflowers
	url = https://github.com/minefaco/beautiflowers.git
[submodule "automobiles_pck"]
	path = automobiles_pck
	url = https://github.com/APercy/automobiles_pck.git
[submodule "biofuel"]
	path = biofuel
	url = https://github.com/Lokrates/Biofuel.git
[submodule "comboblock"]
	path = comboblock
	url = https://github.com/sirrobzeroone/comboblock.git
[submodule "place_rotated"]
	path = place_rotated
	url = https://github.com/12Me21/place_rotated.git
[submodule "biomes"]
	path = biomes
	url = https://github.com/AtlanteFr/Biomes.git
[submodule "bushy_leaves"]
	path = bushy_leaves
	url = https://git.minetest.land/erlehmann/bushy_leaves.git
[submodule "candles_3d"]
	path = candles_3d
	url = https://gitlab.com/mazes_80/candles_3d.git
[submodule "castle_gates"]
	path = castle_gates
	url = https://github.com/minetest-mods/castle_gates.git
[submodule "cg_plus"]
	path = cg_plus
	url = https://github.com/random-geek/cg_plus.git
[submodule "chunkkeeper"]
	path = chunkkeeper
	url = https://github.com/Beanzilla/chunkkeeper.git
[submodule "church"]
	path = church
	url = https://github.com/sfence/church.git
[submodule "climate_api"]
	path = climate_api
	url = https://github.com/t-affeldt/climate_api.git
[submodule "regional_weather"]
	path = regional_weather
	url = https://github.com/t-affeldt/regional_weather.git
[submodule "config"]
	path = config
	url = https://bitbucket.org/sorcerykid/config.git
[submodule "creatura"]
	path = creatura
	url = https://github.com/ElCeejo/creatura.git
[submodule "minetest_cups"]
	path = cups
	url = https://repo.or.cz/minetest_cups.git
[submodule "currency"]
	path = currency
	url = https://github.com/mt-mods/currency.git
[submodule "denseores"]
	path = denseores
	url = https://notabug.org/Oswald/denseores.git
[submodule "dfcaverns"]
	path = dfcaverns
	url = https://github.com/FaceDeer/dfcaverns.git
[submodule "display_modpack"]
	path = display_modpack
	url = https://github.com/pyrollo/display_modpack.git
[submodule "draconis"]
	path = draconis
	url = https://github.com/ElCeejo/draconis.git
[submodule "drawers"]
	path = drawers
	url = https://github.com/minetest-mods/drawers.git
[submodule "elepower"]
	path = elepower
	url = https://github.com/sirrobzeroone/elepower.git
[submodule "minetest-enable-shadows"]
	path = enable_shadows
	url = https://github.com/rollerozxa/minetest-enable-shadows.git
[submodule "cool_trees"]
	path = cool_trees
	url = https://github.com/runsy/cool_trees.git
[submodule "connected_chests"]
	path = connected_chests
	url = https://github.com/HybridDog/connected_chests.git
[submodule "cottages"]
	path = cottages
	url = https://github.com/fluxionary/minetest-cottages.git
[submodule "craftguide"]
	path = craftguide
	url = https://github.com/minetest-mods/craftguide.git
[submodule "death_messages"]
	path = death_messages
	url = https://github.com/4Evergreen4/death_messages.git
[submodule "findbiomes"]
	path = findbiomes
	url = https://repo.or.cz/minetest_findbiomes.git
[submodule "extra_doors"]
	path = extra_doors
	url = https://bitbucket.org/sorcerykid/extra_doors.git
[submodule "facade"]
	path = facade
	url = https://github.com/TumeniNodes/facade.git
[submodule "farming_flood"]
	path = farming_flood
	url = https://github.com/AFCMS/farming_flood
[submodule "feed_buckets"]
	path = feed_buckets
	url = https://github.com/sfence/feed_buckets.git
[submodule "flowerpot"]
	path = flowerpot
	url = https://github.com/minetest-mods/flowerpot.git
[submodule "forgotten_monsters"]
	path = forgotten_monsters
	url = https://codeberg.org/duckgo/forgotten_monsters.git
[submodule "furnituregen"]
	path = furnituregen
	url = https://github.com/theraven262/minetest-furnituregen.git
[submodule "glass_stained"]
	path = glass_stained
	url = https://github.com/v-rob/glass_stained.git
[submodule "geodes"]
	path = geodes
	url = https://github.com/Awkanimus/geodes.git
[submodule "goblins"]
	path = goblins
	url = https://gitlab.com/freelikegnu/goblins.git
[submodule "goops_rings"]
	path = goops_rings
	url = https://github.com/MT-Goops/rings.git
[submodule "grappling_hook"]
	path = grappling_hook
	url = https://github.com/Awkanimus/grappling_hook.git
[submodule "h_windows"]
	path = h_windows
	url = https://github.com/BrownHedgehog78/h_windows.git
[submodule "handholds_redo"]
	path = handholds_redo
	url = https://github.com/t-affeldt/handholds_redo.git
[submodule "handle_schematics"]
	path = handle_schematics
	url = https://github.com/Sokomine/handle_schematics.git
[submodule "hidden_doors"]
	path = hidden_doors
	url = https://codeberg.org/Hamlet/hidden_doors.git
[submodule "home_workshop_modpack"]
	path = home_workshop_modpack
	url = https://github.com/mt-mods/home_workshop_modpack.git
[submodule "wielded_light"]
	path = wielded_light
	url = https://github.com/minetest-mods/wielded_light.git
[submodule "imese"]
	path = imese
	url = https://gitlab.com/4w/imese.git
[submodule "minetest-itemplate"]
	path = itemplate
	url = https://github.com/fluxionary/minetest-itemplate.git
[submodule "fmod"]
	path = fmod
	url = https://github.com/fluxionary/minetest-fmod.git
[submodule "futil"]
	path = futil
	url = https://github.com/fluxionary/minetest-futil.git
[submodule "i3"]
	path = i3
	url = https://github.com/minetest-mods/i3.git
[submodule "skinsdb"]
	path = skinsdb
	url = https://github.com/minetest-mods/skinsdb.git
[submodule "large_slugs"]
	path = large_slugs
	url = https://github.com/TurkeyMcMac/large_slugs.git
[submodule "lightning"]
	path = lightning
	url = https://github.com/minetest-mods/lightning.git
[submodule "livingfloatlands"]
	path = livingfloatlands
	url = https://github.com/Skandarella/livingfloatlands.git
[submodule "livingnether"]
	path = livingnether
	url = https://github.com/Skandarella/livingnether.git
[submodule "locks"]
	path = locks
	url = https://github.com/Sokomine/locks.git
[submodule "luxury_decor"]
	path = luxury_decor
	url = https://github.com/Andrey2470T/luxury_decor.git
[submodule "deepslate"]
	path = deepslate
	url = https://github.com/Awkanimus/deepslate.git
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "mesebox"]
	path = mesebox
	url = https://github.com/johalun/mesebox.git
[submodule "mg_villages"]
	path = mg_villages
	url = https://github.com/Awkanimus/mg_villages.git
[submodule "bright-light"]
	path = bright-night
	url = https://github.com/Yukitty/minetest-bright_night.git
[submodule "toolranks-extras"]
	path = toolranks-extras
	url = https://github.com/louisroyer-minetest/toolranks-extras.git
[submodule "minetest-toolranks"]
	path = toolranks
	url = https://github.com/lisacvuk/minetest-toolranks.git
[submodule "moarmour"]
	path = moarmour
	url = https://github.com/dacmot/moarmour.git
[submodule "mobkit"]
	path = mobkit
	url = https://github.com/TheTermos/mobkit.git
[submodule "mobs_banshee"]
	path = mobs_banshee
	url = https://codeberg.org/Hamlet/mobs_banshee.git
[submodule "mobs_dwarves"]
	path = mobs_dwarves
	url = https://codeberg.org/Hamlet/mobs_dwarves.git
[submodule "ethereal_bosses"]
	path = ethereal_bosses
	url = https://codeberg.org/duckgo/ethereal_bosses.git
[submodule "mobs_gazer"]
	path = mobs_gazer
	url = https://codeberg.org/Hamlet/mobs_gazer.git
[submodule "mobs_ghost_redo"]
	path = mobs_ghost_redo
	url = https://codeberg.org/Hamlet/mobs_ghost_redo.git
[submodule "mobs_skeletons"]
	path = mobs_skeletons
	url = https://codeberg.org/Hamlet/mobs_skeletons.git
[submodule "nether"]
	path = nether
	url = https://github.com/minetest-mods/nether.git
[submodule "nextgen_fungi"]
	path = nextgen_fungi
	url = https://github.com/starninjas/nextgen_fungi.git
[submodule "naturalbiomes"]
	path = naturalbiomes
	url = https://github.com/Skandarella/naturalbiomes.git
[submodule "obsidianstuff"]
	path = obsidianstuff
	url = https://github.com/SoloSniperCode/obsidianstuff.git
[submodule "orbs_of_time"]
	path = orbs_of_time
	url = https://github.com/minetest-mods/orbs_of_time.git
[submodule "people"]
	path = people
	url = https://github.com/Skandarella/people.git
[submodule "petz"]
	path = petz
	url = https://github.com/runsy/petz.git
[submodule "pipeworks"]
	path = pipeworks
	url = https://github.com/mt-mods/pipeworks.git
[submodule "moretubes"]
	path = moretubes
	url = https://github.com/C-C-Minetest-Server/moretubes.git
[submodule "power_generators"]
	path = power_generators
	url = https://github.com/sfence/power_generators.git
[submodule "pumpkin-pies"]
	path = pumpkin_pies
	url = https://codeberg.org/spicemines/pumpkin-pies.git
[submodule "quartz"]
	path = quartz
	url = https://github.com/minetest-mods/quartz.git
[submodule "rainf"]
	path = rainf
	url = https://github.com/runsy/rainf.git
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "returnmirror"]
	path = returnmirror
	url = https://repo.or.cz/minetest_returnmirror.git
[submodule "mana"]
	path = mana
	url = https://repo.or.cz/minetest_mana.git
[submodule "riesenpilz"]
	path = riesenpilz
	url = https://github.com/HybridDog/riesenpilz.git
[submodule "scaffolding"]
	path = scaffolding
	url = https://Awkanimus@bitbucket.org/Infinatum/scaffolding.git
[submodule "minetest_schemedit"]
	path = minetest_schemedit
	url = https://codeberg.org/Wuzzy/minetest_schemedit.git
[submodule "school_furniture"]
	path = school_furniture
	url = https://github.com/josegamestest/school_furniture.git
[submodule "minetest_show_wielded_item"]
	path = show_wielded_item
	url = https://repo.or.cz/minetest_show_wielded_item.git
[submodule "signs_lib"]
	path = signs_lib
	url = https://github.com/mt-mods/signs_lib.git
[submodule "skeletons"]
	path = skeletons
	url = https://github.com/sfence/skeletons.git
[submodule "livingdesert"]
	path = livingdesert
	url = https://github.com/Skandarella/livingdesert.git
[submodule "livingjungle"]
	path = livingjungle
	url = https://github.com/Skandarella/livingjungle.git
[submodule "wilhelminessounds"]
	path = wilhelminessounds
	url = https://github.com/Skandarella/wilhelminessounds.git
[submodule "sounds"]
	path = sounds
	url = https://github.com/AntumMT/mod-sounds.git
[submodule "sounds_redone"]
	path = sounds_redone
	url = https://github.com/starninjas/sounds_redone.git
[submodule "silence"]
	path = silence
	url = https://github.com/fluxionary/minetest-silence.git
[submodule "spears"]
	path = spears
	url = https://gitlab.com/echoes91/spears.git
[submodule "streets"]
	path = streets
	url = https://github.com/minetest-mods/streets.git
[submodule "street_signs"]
	path = street_signs
	url = https://github.com/mt-mods/street_signs.git
[submodule "sumpf"]
	path = sumpf
	url = https://github.com/HybridDog/sumpf.git
[submodule "swaz"]
	path = swaz
	url = https://github.com/runsy/swaz.git
[submodule "basic_materials"]
	path = basic_materials
	url = https://github.com/mt-mods/basic_materials.git
[submodule "vein_miner"]
	path = vein_miner
	url = https://github.com/QuoteNat/vein_miner.git
[submodule "throwing"]
	path = throwing
	url = https://github.com/minetest-mods/throwing.git
[submodule "tools_obsidian"]
	path = tools_obsidian
	url = https://github.com/Dragonop/tools_obsidian.git
[submodule "trading"]
	path = trading
	url = https://github.com/rollerozxa/trading.git
[submodule "ts_doors"]
	path = ts_doors
	url = https://github.com/minetest-mods/ts_doors.git
[submodule "ts_furniture"]
	path = ts_furniture
	url = https://github.com/minetest-mods/ts_furniture.git
[submodule "ts_workshop"]
	path = ts_workshop
	url = https://github.com/minetest-mods/ts_workshop.git
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://github.com/mt-mods/unifieddyes.git
[submodule "void_chest"]
	path = void_chest
	url = https://github.com/MeseCraft/void_chest.git
[submodule "waffles"]
	path = waffles
	url = https://github.com/GreenXenith/waffles.git
[submodule "wield3d"]
	path = wield3d
	url = https://github.com/stujones11/wield3d.git
[submodule "witches"]
	path = witches
	url = https://gitlab.com/freelikegnu/witches.git
[submodule "x_enchanting"]
	path = x_enchanting
	url = https://bitbucket.org/minetest_gamers/x_enchanting.git
[submodule "x_farming"]
	path = x_farming
	url = https://bitbucket.org/minetest_gamers/x_farming.git
[submodule "x_obsidianmese"]
	path = x_obsidianmese
	url = https://bitbucket.org/minetest_gamers/x_obsidianmese.git
[submodule "xocean"]
	path = xocean
	url = https://github.com/starninjas/xocean.git
[submodule "biome_lib"]
	path = biome_lib
	url = https://github.com/mt-mods/biome_lib.git
[submodule "tubelib2"]
	path = tubelib2
	url = https://github.com/joe7575/tubelib2.git
[submodule "fluid_lib"]
	path = fluid_lib
	url = https://github.com/sirrobzeroone/fluid_lib.git
[submodule "minetest_doc_modpack"]
	path = doc_modpack
	url = http://repo.or.cz/minetest_doc_modpack.git
[submodule "better_farming"]
	path = better_farming
	url = https://github.com/Awkanimus/better_farming.git
[submodule "keyevent"]
	path = keyevent
	url = https://github.com/Desour/keyevent.git
[submodule "speed_boots"]
	path = speed_boots
	url = https://github.com/MoomooDude/More-Boots.git
[submodule "minetest-mobs_balrog"]
	path = mobs_balrog
	url = https://github.com/fluxionary/minetest-mobs_balrog.git
[submodule "tmw_slimes"]
	path = tmw_slimes
	url = https://github.com/sirrobzeroone/tmw_slimes_piezo.git
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2.git
[submodule "technic"]
	path = technic
	url = https://github.com/mt-mods/technic.git
[submodule "doors"]
	path = doors
	url = https://notabug.org/TenPlus1/doors.git
